.menuBar {
    display: flex;
    gap: 10vw;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: #000000;
    opacity: 0.75;
    width: 100vw;
    position: absolute;
    margin-left: -32px;
}
.menuItem {
    margin: 0;
    line-height: 1.15;
    font-size: 1.5rem;
    color: #ffff;
  }

.active {
    margin: 0;
    line-height: 1.15;
    font-size: 1.5rem;
    color: #00ffc8;
    border-bottom: 5px solid #00ffc8;
  }

  .nonActive {
    margin: 0;
    line-height: 1.15;
    font-size: 1.5rem;
    color: #ffff;
  }


  .nonActive:hover {
    opacity: 1;
    color: #00ffc8;
  }