.menuBar {
    display: flex;
    gap: 100px;
    justify-content: center;
    height: 50px;
    align-items: center;
    background-color: #000000;
    opacity: 0.5;
    width: 100%;
    position: absolute;
    margin-left: -32px;
}
.menuItem {
    margin: 0;
    line-height: 1.15;
    font-size: 1.5rem;
    color: #ffff;
  }


  .menuItem:hover {
    opacity: 1;
    color: #00ffc8;
  }